/* #pluginNotice {
	display: none;
}

div[class*="notice"] {
	display: none !important;
}
.updateNotice-2DjjHs {
	display: none;
}
#BDFDB-notice {
	display: none;
} */

#sticker-picker-tab {
	/*visibility: hidden;*/
	display: none;
}
