/*https://gist.github.com/Decimation/08b16652f1a6b675f833bdb038b17755*/

/* Hide Nitro */

#sticker-picker-tab {
	/*visibility: hidden;*/
	display: none;
}

a[href="/store"] {
	display: none;
}


/* [Settings] Billing Settings
	7. Separator 
	8. Label
*/
div[aria-label="User Settings"] > div:nth-child(7), 
div[aria-label="User Settings"] > div:nth-child(8),
div[aria-controls="billing-tab"],
div[aria-controls="subscriptions-tab"],
div[aria-controls="library-inventory-tab"],
div[aria-controls="discord-nitro-tab"],
div[aria-controls="nitro-server-boost-tab"],
div[aria-label="Discord Nitro"] {
	display: none;
}

/* [Server] Hide Server Boost */

div[aria-label="Server Boost Status"],
#guild-header-popout-premium-subscribe {
	display: none;
}

