/*
	-		Removes
	+		Adds
	*		Tweaks
	
	https://gist.github.com/Decimation/08b16652f1a6b675f833bdb038b17755
*/


/* - [Chat] Nitro */

#sticker-picker-tab {
	/*visibility: hidden;*/
	display: none;
}

/* - [Global] Store */

a[href="/store"] {
	display: none;
}

div[class="cta-1idp93"] {
	display: none;
}

/* - [Settings] Billing Settings
*/
div[aria-controls="nitro-server-boost-tab"],
div[aria-label="Nitro"] {
	display: none;
}

/* - [Settings] HypeSquad */

div[aria-controls="hypesquad-online-tab"] {
	display: none;
}

/* - [Server] Server Boost */

div[aria-label="Server Boost Status"],
#guild-header-popout-premium-subscribe {
	display: none;
}

/* - [Settings] Profile */

div[class*="profileCustomizationSection"] > :nth-child(1) > :nth-child(1) > :nth-child(3),
div[class*="premiumFeatureBorder"] {
	display: none;
}

div[class*="upsellOverlayContainer"], 
div[class*="wrapper-400BN2"], 
div[class*="upsellBanner"], 
div[class*="premiumTab"] {
	display: none;
}

