/**
* -		Removes
* + Adds
* 	*		Tweaks
*
* 	https://gist.github.com/Decimation/08b16652f1a6b675f833bdb038b17755
*
* @format
*/

html body {
	font-family: "Segoe UI" !important;
	font-weight: inherit;
	src: local("Segoe UI");
}

code {
	font-family: "Consolas NF" !important;
	src: local("Consolas NF");
	font-weight: inherit;
	font-style: normal;
}

/* - [Chat] Nitro */

#sticker-picker-tab {
	/*visibility: hidden;*/
	display: none;
}

/* - [Global] Store */

a[href*="/shop"],
a[href*="/store"] {
	display: none;
}

div[class="cta-1idp93"] {
	display: none;
}

/* - [Settings] Billing Settings */
div[aria-controls="nitro-server-boost-tab"],
div[aria-label="Nitro"] {
	display: none;
}

div[class*='marginTop'] section + section {
	display: none;
}

/* - [Settings] HypeSquad */

div[aria-controls="hypesquad-online-tab"] {
	display: none;
}

#appearance-tab > div > div.children-2C96Ex > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > section:nth-child(2) {
	display: none;
}

/* - [Server] Server Boost */

div[aria-label="Server Boost Status"],
#guild-header-popout-premium-subscribe {
	display: none;
}

/* - [Settings] Profile */

div[class*="profileCustomizationSection"] > :nth-child(1) > :nth-child(1) > :nth-child(3),
div[class*="premiumFeatureBorder"] {
	display: none;
}

div[class*="upsellOverlayContainer"],
div[class*="wrapper-400BN2"],
div[class*="upsellBanner"],
div[class*="premiumTab"],
div[class*="colorPremium"],
div[class*="premiumFeatureBannerBackground"],
div[class*='upsellContainer'] {
	display: none;
}

div[class*='nitroTopDividerContainer'] *,
div[class*='categorySectionNitroLocked'] {
	display: none;
}


/* - [Chat] */

#message-add-reaction-1,
#message-actions-add-reaction-1 {
	display: none;
}

div[aria-label*="Send a gift"],
button[aria-label*="Send a gif"] {
	display: none;
}

div[aria-label="Add Super Reaction"] {
	display: none;
}

div[class='emojiSection_e58351'] {
	display: none;
}

svg[class*='avatarDecoration'] {
	display: none;
}

div[data-settings-sidebar-item*='nitro'] {
	display: none;
}

div[class='container_da1432'],
button[data-list-item-id="profile-311974060798246912___get-premium"] {
	display: none;
}

/* Server Boosts */
#channels > ul > li:nth-child(4) > div > div.link__2ea32.basicChannelRowLink__2ea32 {
	display: none;
}

div[class='container__8279f'] {
	display: none;
}

#appearance-tab > div > div.children__7bffb > div.selectionGroup__6b52d,
#appearance-tab > div > div.children__7bffb div:nth-child(2) > div:nth-child(2) > div > div > div:nth-child(1) > section:nth-child(2) {
	display: none;
}

/* Profile Effects */

.dm__972a0 > div > [style^="background: linear-gradient(90deg"],
.nameplated__91a9d > [style] {
	display: none;
}

div[class*='profileEffects'],
div[class*='profileEffects__'] {
	display: none;
}

img[class*='avatarDecoration_'] {
	display: none;
}

/*div[class*='container__4bbc6'] {
  display: none;
} */

div[class='container_c0c49a'] {
	display: none;
}

div[class*='videoContainer'],
div[style*='linear-gradient'] {
	display: none;
}

ul[aria-label*='Billing Settings'] {
	display: none;
}